<h4 class="text-center"><mark> بيانات المستخدم</mark></h4>
<br />

<!-- <table class="table">
    <tbody>
        <tr>
          <th>رقم المستخدم  </th>
          <th>تاريخ المستخدم</th>
          <th>عنوان المستخدم</th>
          <th>هاتف المستخدم </th>
          <th>إجمالي سعر المستخدم  </th>
       </tr>
       <tr>
          <td> {{data.data.id!=null ? data.data.id : 'لا يوجد رقم للطلب'}} </td>
          <td> {{data.data.date!=null ? data.data.date : 'لا يوجد تاريخ للطلب'}} </td>
          <td> {{data.data.address!=null ? data.data.address.address  : 'لا يوجد عنوان استلام للطلب'}}</td>
          <td>{{data.data.address!=null ? data.data.address.phone:' لا يوجد هاتف مسجل لاستلام الطلب'}}</td>
          <td>{{data.data!=null ? data.data.total_price: 'لا يوجد إجمالي لسعر الطلب'}}</td>
       </tr>
    </tbody>
</table>

  <br>
  <h4 class="text-center"><mark>بيانات العميل </mark> </h4> 
  <br> 

 <table class="table">
    <tbody> 
      <tr>
        <th>اسم العميل </th>
        <th>هاتف العميل </th>
        <th>إيميل العميل </th>
        <th>عنوان العميل </th>
        <th>المدينة  </th>
         
      </tr>
      <tr> 
          <td>{{data.data.name!=null ? data.data.name:'لا يوجد اسم للعميل'}}</td>
          <td>{{data.data.user!=null ? data.data.user.phone:'لا يوجد هاتف للعميل'}}</td>
          <td>{{data.data.user!=null ? data.data.user.email : ' لا يوجد إيميل للعميل '}}</td>
          <td>{{data.data.address!=null ? data.data.address.address : 'لا يوجد عنوان للعميل'}}</td>
          <td>{{data.data.user!=null ? data.data.user.city.name : 'لا توجد مدينة للعميل'}}</td>
      </tr>
    </tbody>
</table>

  <br>
    <h4 class="text-center"> <mark> تفاصيل المنتجات </mark> </h4> 
  <br>

<table class="table">
   <thead>
      <tr>
          <th> صورة المنتج </th>
          <th>اسم المنتج </th>
          <th> سعر المنتج </th>
          <th> كمية المنتج </th>
      </tr>
  </thead>
  <tbody *ngFor="let order of data.data.order_items">
      <tr> 
          <td> <img class="image-fluid" [src]="order.product.imagePath" height="50px" width="50px" > </td>
          <td>{{data.data.order_items!=null ? order.product.name:'لا يوجد اسم المنتج  '}}</td>
          <td>{{data.data.order_items!=null ? order.price:'لا يوجد سعر المنتج '}}</td>
          <td>{{data.data.order_items!=null ? order.quantity :'لا يوجد كمية المنتج '}}</td>
   
      </tr>
  </tbody> 
 
</table>
   -->
<!-- <h3 class="text-center">بيانات </h3> -->
<br />
<table class="table" dir="rtl">
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td>
        {{ data.data.id }}
      </td>
    </tr>
    <tr>
      <th scope="row">الاسم</th>
      <td>
        {{ data.data.name }}
      </td>
    </tr>
    <tr>
      <th scope="row">الايميل</th>
      <td>{{ data.data.email }}</td>
    </tr>
    <tr>
      <th scope="row">رقم الهاتف</th>
      <td>{{ data.data.country_code + data.data.phone }}</td>
    </tr>

    <tr>
      <th scope="row">اسم المدرسة</th>
      <td>{{ data.data.school }}</td>
    </tr>
    <tr>
      <th scope="row">نوع الباقة </th>
      <td>{{ data.data.subscription_plan.period }}</td>
    </tr>
    <tr>
      <th scope="row">الايميل</th>
      <td>{{ data.data.email }}</td>
    </tr>
    <tr>
      <th scope="row">صورة المسخدم</th>
      <td><img height="200px" [src]="data.data.imagePath" alt="" /></td>
    </tr>
    <!-- <tr>
               <th scope="row"> عدد الشحنات </th>
               <td>{{data?.shipped}}</td>
           </tr> -->
    <!-- <tr>
               <th scope="row">الحاله </th>
               <td>{{data?.active == 0 ? 'محظور' :'مفعل'}}</td>
           </tr> -->
  </tbody>
</table>
