<h4 class="text-center"><mark> بيانات الطلب</mark> </h4> 
<br>

<table class="table">
    <tbody>
        <tr>
          <th>رقم الطلب  </th>
          <th>تاريخ الطلب</th>
          <th>عنوان الطلب</th>
          <th>هاتف العميل </th>
          <th>إجمالي سعر الطلب  </th>
       </tr>
       <tr>
          <td> {{data.data.id!=null ? data.data.id : 'لا يوجد رقم للطلب'}} </td>
          <td> {{data.data.date!=null ? data.data.date : 'لا يوجد تاريخ للطلب'}} </td>
          <td> {{data.data.address!=null ? data.data.address.address  : 'لا يوجد عنوان استلام للطلب'}}</td>
          <td>{{data.data.address!=null ? data.data.address.phone:' لا يوجد هاتف مسجل لاستلام الطلب'}}</td>
          <td>{{data.data!=null ? data.data.total_price: 'لا يوجد إجمالي لسعر الطلب'}}</td>
       </tr>
    </tbody>
</table>

  <br>
  <h4 class="text-center"><mark>بيانات العميل </mark> </h4> 
  <br> 

 <table class="table">
    <tbody> 
      <tr>
        <th>اسم العميل </th>
        <th>هاتف العميل </th>
        <th>إيميل العميل </th>
        <th>عنوان العميل </th>
        <th>المدينة  </th>
         
      </tr>
      <tr> 
          <td>{{data.data.user!=null ? data.data.user.full_name:'لا يوجد اسم للعميل'}}</td>
          <td>{{data.data.user!=null ? data.data.user.phone:'لا يوجد هاتف للعميل'}}</td>
          <td>{{data.data.user!=null ? data.data.user.email : ' لا يوجد إيميل للعميل '}}</td>
          <td>{{data.data.address!=null ? data.data.address.address : 'لا يوجد عنوان للعميل'}}</td>
          <td>{{data.data.user!=null ? data.data.user.city.name : 'لا توجد مدينة للعميل'}}</td>
      </tr>
    </tbody>
</table>

  <br>
    <h4 class="text-center"> <mark> تفاصيل المنتجات </mark> </h4> 
  <br>

<table class="table">
   <thead>
      <tr>
          <th> صورة المنتج </th>
          <th>اسم المنتج </th>
          <th> سعر المنتج </th>
          <th> كمية المنتج </th>
      </tr>
  </thead>
  <tbody *ngFor="let order of data.data.order_items">
      <tr> 
          <td> <img class="image-fluid" [src]="order.product.imagePath" height="50px" width="50px" > </td>
          <td>{{data.data.order_items!=null ? order.product.name:'لا يوجد اسم المنتج  '}}</td>
          <td>{{data.data.order_items!=null ? order.price:'لا يوجد سعر المنتج '}}</td>
          <td>{{data.data.order_items!=null ? order.quantity :'لا يوجد كمية المنتج '}}</td>
   
      </tr>
  </tbody> 
 
</table>
  
 