<div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 b-center bg-size" style="background-image: url(/assets/images/login-bg.jpg); background-size: cover; background-position: center center; display: block;"><img class="bg-img-cover bg-center" src="../assets/images/login/2.jpg" alt="looginpage" style="display: none;"></div>
      <div class="col-xl-5 p-0">
        <div class="login-card">
          <div>
            <div><a class="logo text-left" href="javascript:void(0)">
                <!-- <img class="img-fluid for-light" src="assets/images/pomac.png" width="80" alt="looginpage"> -->
                <img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt="looginpage"></a></div>
            <div class="login-main"> 
              <form class="theme-form" [formGroup]='form' (ngSubmit)="submit()">
                <h4>تسجيل الدخول إلى الحساب</h4>
                <p>أدخل       البريد الالكتروني وكلمة المرور لتسجيل الدخول</p>
                <div class="form-group text-left">
                  <label class="col-form-label ">البريد الالكتروني</label>
                  <!-- placeholder="+966 (5) XXX-XXXXX" -->
                  <input class="form-control " dir="ltr" type="email" required=""  placeholder="example@gmail.com" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                  <div *ngIf="submitted && f.phone.errors" class="errors-container mt-2">
                    <p class="error-element" *ngIf="f.phone.errors.required">يجب ألا يكون الحقل المطلوب فارغاً</p>
                 </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">كلمه السر</label>
                  <input class="form-control" type="password" [type]="togglePassword ? 'text' : 'password'" name="login[password]" required="" placeholder="*********" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div class="show-hide"><span (click)="togglePassword = !togglePassword" [ngClass]="{'show': !togglePassword}"></span></div>
                  <div *ngIf="submitted && f.password.errors" class="errors-container mt-2">
                    <p class="error-element" *ngIf="f.password.errors.required">يجب ألا يكون الحقل المطلوب فارغاً</p>
                 </div>
                </div>
                <div class="form-group mb-0">
                  <div class="checkbox p-0">
                    <input id="checkbox1" type="checkbox">
                    <label class="text-muted" for="checkbox1">تذكر كلمة المرور</label>
                  </div>
                  <button class="btn btn-primary btn-block" type="submit">تسجيل الدخول</button>
                </div>
                <!-- <p class="mt-4 mb-0">ليس لديك حساب؟<a class="ml-2" href="javascript:void(0)">إنشاء حساب الآن</a></p> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>