<h3 class="text-center">بيانات  الطلب </h3> 
 <br>
<table class="table" dir="rtl">
    <tbody>
    <tr>
        <th scope="row">تفاصيل الطلب</th>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eligendi, praesentium minima labore aliquam, quos doloremque neque ab numquam sint accusantium, nobis autem consequuntur nisi iure possimus. Reiciendis, eos rem!</td>
    </tr>
    <tr>
        <th scope="row">سعر الطلب </th>
        <td>50 ريال</td>
    </tr>
    <tr>
        <th scope="row">سعر التوصيل </th>
        <td>20 ريال</td>
    </tr>
      <tr>
        <th scope="row">اسم مقدم الخدمة </th>
        <td>Ghanem</td>
      </tr>
      <tr>
        <th scope="row">عنوان مقدم الخدمة </th>
        <td>Cairo</td>
      </tr>
      <tr>
        <th scope="row">اسم العميل </th>
        <td>Saeed</td>
      </tr>
      <tr>
        <th scope="row">عنوان العميل </th>
        <td>Alexandria</td>
      </tr>
      <tr>
        <th scope="row">رقم جوال العميل </th>
        <td>5647897965</td>
      </tr>
      <tr>
        <th scope="row">تاريخ طلب الأوردر </th>
        <td>12/08/2020</td>
      </tr>
      <tr>
        <th scope="row">تاريخ استلام الأوردر </th>
        <td>23/11/2020</td>
      </tr>
    </tbody>
  </table>