table{
    td,th{
        text-align: center;
        vertical-align: middle;
    }
}

div {
   
    p {
        background-color: #ddd;
        font-weight: bold ;
        font-size: 2em;
        padding: 10px;
    }
}