<h3 class="text-center">بيانات المنتج  </h3> 
 <br>
<table class="table" dir="rtl">
    <tbody>
      
      <tr>
        <th scope="row">اسم التاجر  </th>
        <td>{{data?.store?.user?.name}}</td>
      </tr>
      <tr>
        <th scope="row">القسم الرئيسي   </th>
        <td>{{data?.categories[0]?.name_ar}} </td>
      </tr>
      <tr>
        <th scope="row">القسم الفرعي  </th>
        <td>{{data?.subcategories[0]?.name_ar}} </td>
      </tr>
      <tr>
        <th scope="row">اسم المنتج  </th>
        <td>{{data?.name}} </td>
      </tr>
      <!-- <tr>
        <th scope="row">نوع المناسبة  </th>
        <td>{{data?.name}} </td>
      </tr> -->
      <tr>
        <th scope="row">وصف المنتج  </th>
        <td>
          {{data?.description_ar}}
        </td>
      </tr>
      <tr>
        <th scope="row">رقم السجل  </th>
        <td>{{data?.store?.commercial_number}} </td>
      </tr>
      <tr>
        <th scope="row">صورة المنتج</th>
        <td>
          
            <img style="width: 80px;height: 80px;border-radius: 50%;" src="{{data?.imagePath}}" onerror="this.src='assets/images/download.jpeg'" alt="">
        </td>
      </tr>
      <tr>
        <th scope="row">الألوان  </th>
        <td>
           <span *ngFor="let color of data?.colors">{{color?.name_ar }},</span>
          </td>
      </tr>
      <tr>
        <th scope="row">الأحجام    </th>
        <td>
          <span *ngFor="let color of data?.sizes">{{color?.name_ar }},</span>
         </td>
      </tr>
      <tr>
        <th scope="row">السعر قبل الخصم    </th>
        <td>{{data?.price}} ريال </td>
      </tr>
      <tr>
        <th scope="row">السعر بعد الخصم    </th>
        <td>{{data?.price_after_discount}} ريال </td>
      </tr>
      <!-- <tr>
        <th scope="row">رقم البطاقة الشخصية  </th>
        <td>569848956 </td>
      </tr>
      <tr>
        <th scope="row">صورة البطاقة</th>
        <td>
            <img style="width: 50px;height: 50px;border-radius: 50%;" src="assets/images/image-not-found.svg" alt="">
        </td>
      </tr>
      
      <tr>
        <th scope="row">التخصص  </th>
        <td>اي تخصص </td>
      </tr>
      <tr>
        <th scope="row">نبذة  </th>
        <td>تيسابت استا بتا تنسيا  </td>
      </tr>
      <tr>
        <th scope="row">صورة الرتوفوليو  </th>
        <td>
            <img style="width: 50px;height: 50px;border-radius: 50%;" src="assets/images/image-not-found.svg" alt="">
        </td>
      </tr> -->
    </tbody>
  </table>