<h4 >بيانات الخدمة   </h4> 
 <br>
<table class="table" dir="rtl">
    <tbody>
      
      <tr>
        <th scope="row">اسم الخدمة   </th>
        <td>{{data?.name}}</td>
      </tr>
      <tr>
          <td>
              صورة الخدمة
          </td>
          
          <Td>
            <div class="col-md-12 text-center">
                <article>
                    <img style="width: 280px;
                    height: 190px;" src="{{data.imagePath}}" alt="">
                </article>
                <!-- <button class="btn btn-danger mt-3 mb-3" (click)="closeCard()">حسناً</button> -->
            </div>
          </Td>
</tr>   
    </tbody>
  </table>

