<div class="col-md-12 project-list">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <ul
          class="nav nav-tabs buser-tab"
          id="top-tab"
          role="tablist"
          style="display: flex; flex-wrap: wrap"
        >
          <li class="nav-item">
            <a
              (click)="getusers(1)"
              [ngClass]="{ active: type == '0' }"
              class="nav-link"
              href="javascript:void(0)"
              role="tab"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-target"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <circle cx="12" cy="12" r="6"></circle>
                <circle cx="12" cy="12" r="2"></circle>
              </svg>
              مستخدم
            </a>
          </li>
          <li class="nav-item">
            <a
              (click)="getusers(2)"
              [ngClass]="{ active: type == '1' }"
              class="nav-link"
              href="javascript:void(0)"
              role="tab"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-target"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <circle cx="12" cy="12" r="6"></circle>
                <circle cx="12" cy="12" r="2"></circle>
              </svg>
              مشترك</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="getusers(0)"
              [ngClass]="{ active: type == '2' }"
              class="nav-link"
              href="javascript:void(0)"
              role="tab"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-target"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <circle cx="12" cy="12" r="6"></circle>
                <circle cx="12" cy="12" r="2"></circle>
              </svg>
              المستخدمين المحظورة</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="getusers(3)"
              [ngClass]="{ active: type == '3' }"
              class="nav-link"
              href="javascript:void(0)"
              role="tab"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-target"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <circle cx="12" cy="12" r="6"></circle>
                <circle cx="12" cy="12" r="2"></circle>
              </svg>
              المستخدمين المرفوضة
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- *ngIf="users?.length != 0" -->
<section id="add-main-page">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">اسم المستخدم</th>
                <th scope="col">الايميل</th>
                <th scope="col">المدرسة</th>
                <th scope="col">إعدادات</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <th>{{ user?.name }}</th>
                <td>{{ user?.email }}</td>
                <td>{{ user?.school }}</td>
                <td>
                  <span *ngIf="user.status_id != 0"
                    ><button
                      style="
                        background-color: rgba(234, 32, 135, 0.15);
                        color: black;
                      "
                      class="btn btn-sm"
                      (click)="manageUser(user.id)"
                    >
                      حظر المستخدم
                    </button>
                    |</span
                  >
                  <span *ngIf="user.status_id == 0"
                    ><button
                      style="
                        background-color: rgba(234, 32, 135, 0.15);
                        color: black;
                      "
                      class="btn btn-sm"
                      (click)="manageUser(user.id, 2)"
                    >
                      الغاء حظر المستخدم
                    </button>
                    |</span
                  >
                  <span
                    ><button
                      style="
                        background-color: rgba(234, 32, 135, 0.15);
                        color: black;
                      "
                      class="btn btn-sm"
                      (click)="orderDetails(user)"
                    >
                    <i class="fas fa-eye text-black" style="cursor: pointer;"></i>                    </button>
                    </span
                  >
                  <!-- <span *ngIf="type==1"><button style="background-color: #31d4491f ; color:black" class="btn  btn-sm" >  التسليم للمندوب </button>  |</span> -->
                  <!-- <span *ngIf="type==2"><button style="background-color:rgba(72, 49, 212, 0.12) ;; color:black" class="btn  btn-sm" (click)
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <mat-paginator [length]="paginator" 
                      [pageSize]="15"
                      [pageSizeOptions]="[15]"
                      (page)="onPaginateChange($event)"
                      aria-label="Select page">
                     </mat-paginator>  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *ngIf="users?.length == 0" -->
                  <!-- <section id="add-main-page" >
  <div class="card">
      <div class="row">
          <div class="col-md-12">
              <div class="card-body text-center">
                <h1>لم يتم إضافة أي طلبات بعد</h1>
              </div>
            </div>
        </div>
    </div>
</section>  -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
