<div class="col-md-12 project-list">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist" style="display:flex;     flex-wrap: wrap;">
          <li class="nav-item">
            <a (click)="getOrders('0')" [ngClass]="{'active': type == '0'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
            الطلبات المستلمة </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('1')" [ngClass]="{'1': type == 'active'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
            الطلب وصل للمندوب </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('2')" [ngClass]="{'active': type == '2'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
            المندوب في طريقة  </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('3')" [ngClass]="{'active': type == '3'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
             المندوب في مكان التسليم  </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('4')" [ngClass]="{'active': type == '4'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
                في الطريق الى الصيانة  </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('5')" [ngClass]="{'active': type == '5'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
               السياره في الصيانة  </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('6')" [ngClass]="{'active': type == '6'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
              تم طلب تمديد الصيانة     </a>
          </li>
          
          <li class="nav-item">
            <a (click)="getOrders('7')" [ngClass]="{'active': type == '7'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
              تم قبول التمديد    </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('8')" [ngClass]="{'active': type == '8'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
              تم رفض التمديد    </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('9')" [ngClass]="{'active': type == '9'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
               تم طلب المندوب   </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('10')" [ngClass]="{'active': type == '10'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
               في الطريق الى المنزل  </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('11')" [ngClass]="{'active': type == '11'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
                سيارتك بموقع التسليم  </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('12')" [ngClass]="{'active': type == '12'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
               تم الغاء الطلب   </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('13')" [ngClass]="{'active': type == '13'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
                تم الرفض من التصليح  </a>
          </li>
          <li class="nav-item">
            <a (click)="getOrders('14')" [ngClass]="{'active': type == '14'}" class="nav-link" href="javascript:void(0)" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
                تم الألغاء من المندوب  </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section id="add-main-page" *ngIf="orders?.length != 0">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">اسم العميل</th>
                            <th scope="col">اسم مقدم الخدمة</th>
                            <th scope="col">  سعر الطلب</th>
                            <th scope="col">إعدادات</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of orders;let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>
                              {{order.user.name ? order.user.name : 'لا يوجد اسم'}}
                              <td>{{order.maintaner.name ? order.maintaner.name : 'لا يوجد اسم'}}</td>

                            <td>{{order.total ? order.total : 'لا يوجد سعر'}}</td>
                            <td>
                              <!-- <mat-icon  aria-hidden="false" aria-label="Example home icon" class="text-danger" (click)="deleteApp()">delete</mat-icon>
                              ' -->
                              <mat-icon  aria-hidden="false" aria-label="Example home icon" class="text-success" (click)="orderDetails(order)">visibility</mat-icon>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="add-main-page" *ngIf="orders?.length == 0">
  <div class="card">
      <div class="row">
          <div class="col-md-12">
              <div class="card-body text-center">
                <h1>لم يتم إضافة أي طلبات بعد</h1>
              </div>
            </div>
        </div>
    </div>
</section> 