<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form">
                       
                        <div class="form-group">
                            <label for="">اسم المدينة بالعربي</label>
                            <input type="text" class="form-control" formControlName="name_ar">
                        </div>
                        <div class="form-group">
                            <label for="">اسم المدينة بالإنجليزي</label>
                            <input type="text" class="form-control" formControlName="name_en">
                        </div>
                 
                      
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="button" (click)="submit()">تعديل المدينة</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>