<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">اسم البراند</th>
                            <th scope="col">صورة البراند</th>
                            <th scope="col">إعدادات</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let brand of brands;let i=index">
                            <th scope="row">{{i+1}}</th>
                        
                            <td>
                                {{brand.name}}
                            </td>
                              <td> <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{brand.logoImagePath}}" onerror="this.src='assets/images/image-not-found.svg'"  alt=""></td>

                            <td>
                              <i style="cursor: pointer;" class="fas fa-trash text-danger" (click)="deleteBrand(brand.id)"></i> 
                              |
                              <i style="cursor: pointer;" class="fas fa-edit text-primary" (click)="editBrand(brand)"></i> 
              

                              <!-- '
                              <mat-icon  aria-hidden="false" aria-label="Example home icon" class="text-success" (click)="viewApp()">visibility</mat-icon> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>