<section id="category-details">
    <div class="card">
        <div class="card-details text-center">
            <h3 class="text-center mt-3">بيانات العميل </h3> 

            <div class="row justify-content-center mb-3 mt-5">
                <div class="col-md-4">
                    <img class="w-100" style="border-radius: 50%;" src="{{data.imagePath}}" onerror="this.src='assets/images/image-not-found.svg'" alt="" >
                </div>
            </div>

            <table class="table" dir="rtl">
            <tbody>
                <tr>
                <th scope="row">الاسم</th>
                    <td *ngIf="data?.client?.first_name || data?.client?.last_name">{{data?.client?.first_name}} {{data?.client?.last_name}}</td>
                    <td *ngIf="!data?.client?.first_name || !data?.client?.last_name">لا يوجد اسم</td>

                </tr>
                <tr>
                <th scope="row">الايميل </th>
                    <td *ngIf="data.email" >{{data?.email}}</td>
                    <td *ngIf="!data.email" >لا يوجد ايميل</td>

                </tr>
                <tr>
                <th scope="row"> الهاتف</th>
                    <td *ngIf="data.phone">{{data?.phone}}</td>
                    <td *ngIf="!data.phone">لا يوجد رقم هاتف</td>

                </tr>
                <tr>
                <th scope="row"> المدينة  </th>
                    <td *ngIf="data?.client?.city">{{data?.client?.city}}</td>
                    <td *ngIf="!data?.client?.city" class="text-danger"> لم يتم إضافة مدينة بعد</td>
                </tr>

                <!-- status of the user  -->

                    <tr *ngIf="data.active==0">
                        <th scope="row" > الحالة  </th>
                        <td>
                            <span *ngIf="data?.type===0" class="badge badge-warning">مٌعلق</span>
                            <span *ngIf="data?.type===1" class="badge badge-success">مُفعل</span>
                        </td>
                        </tr>
                    <tr>
    
                    <tr *ngIf="data.active==1">
                        <th scope="row" > الحالة  </th>
                        <td><span class="badge badge-success">نشط</span></td>
                        </tr>
                    <tr>
                    
                    <tr *ngIf="data.active==2">
                        <th scope="row" > الحالة  </th>
                        <td><span class="badge badge-danger">محظور</span></td>
                        </tr>
                    <tr>


                    <!-- <tr>
                        <th scope="row"> طلبات العميل</th>
                            <td>
                                <a href="javascript:void(0)" (click)="userRelatedOrder(data.id)" >إضغط لعرض طلبات العميل</a>
                            </td>
                        </tr>
                    <tr>     -->



            </tbody>
            </table>
            

        </div>
    </div>
</section>


