<!-- <section class="animate__animated animate__fadeIn home">
      <section class="animate__animated animate__fadeIn">
        <div class="container-fluid">
            <div class="row second-chart-list third-news-update">
              <div class="col-12">
                <div class="row">
                  <div class="col-xl-12 box-col-12 col-lg-12 col-md-12">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي عدد الطلبات قيد التنفيذ </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.pending_orders}} طلب</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي قيمة الطلبات قيد التنفيذ </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.pending_orders_total_price| number}} ريال</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي عدد مقدمي الخدمات </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.providers_count}} شخص</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي عدد العملاء </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.clients_count}} عميل</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي عدد المنتجات </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.products_count}} منتج</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي عدد الطلبات الجديدة </p>
                            <h4 class="f-w-500 mb-0 f-26">  {{statistics?.new_orders}} طلب </h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي قيمة الطلبات الجديدة </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.new_orders_total_price | number  }} ريال</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي عدد الطلبات المنتهية </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.finished_orders}} طلب</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-xl-6 box-col-6 col-lg-12 col-md-6">
                    <div class="card o-hidden">
                      <div class="card-body">
                        <div class="ecommerce-widgets media">
                          <div class="media-body">
                            <p class="f-w-500 font-roboto"> اجمالي قيمة الطلبات المنتهية </p>
                            <h4 class="f-w-500 mb-0 f-26">{{statistics?.finished_orders_total_price| number}} ريال</h4>
                          </div>
                          <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</section> -->
