<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                  <!-- <form [formGroup]="form"> -->
                  <div class="form-group col-6">
                    <label for=""> اختيار قسم رئيسي  </label>
                    <!-- formControlName="category_id"  -->
                    <select class="form-control p-1"  (change)="changeCategory($event)" >
                        <option [value]="category.id" *ngFor="let category of categories" [selected]="category.id== param">{{category.name}} </option>
                    </select>
                </div>
                <!-- </form> -->
                    <div  class="text-center" *ngIf="subcategories.length==0">
                      <p> There Is No Subcategories Yet </p>
                     </div>
                    <table class="table" *ngIf="subcategories.length!=0">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col"> القسم الفرعي</th>
                            <th scope="col">إعدادات</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let subcategory of subcategories ;let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{subcategory.name}} </td>
                            <!-- <td>{{subcategory.values}}</td> -->
                            <!-- <td> <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{subcategory.imagePath}}" onerror="this.src='assets/images/image-not-found.svg'"  alt=""></td> -->
                            <!-- <td>
                              <mat-icon  aria-hidden="false" aria-label="Example home icon" class="text-danger" (click)="deleteApp(subcategory.id)">delete</mat-icon>
                              '
                              <mat-icon  aria-hidden="false" aria-label="Example home icon" class="text-success" (click)="viewApp(subcategory)">visibility</mat-icon>
                            </td> -->

                            <td>
                              <i class="fas fa-eye text-success" style="cursor: pointer;" (click)="viewSub(subcategory)"></i> |
                              <i style="cursor: pointer;" class="fas fa-edit text-primary" (click)="editSub(subcategory)"></i> |
                              <i style="cursor: pointer;" class="fas fa-trash text-danger" (click)="deleteSub(subcategory.id)"></i> 
                            </td>


                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>