<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form" >
                        <div class="form-group">
                            <label for="">اسم البراند</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="">الوصف </label>
                            <textarea class="form-control" formControlName="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">صورة البراند </label>
                            <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif" [multiple]="true" >
                                <ngx-dropzone-label>أضغط هنا لإختيار صورة البراند</ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f" >
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="button" (click)="submit()">إضافة البراند </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>