<h3 class="text-center">تعديل بيانات الموديل</h3> 
<br>
<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="">اسم الموديل </label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                   
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="submit">تعديل الموديل</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>