<section id="add-main-page" *ngIf="orders?.length != 0">
    <div class="card">
      <div class="row">
        <div class="col-md-12 position-relative">
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th scope="col">  رقم </th>
                    <th scope="col">  اسم المناسبة بالعربية </th>
                    <th scope="col">  اسم المناسبة بالانجليزية </th>
                    <th scope="col"> حذف  </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of [].constructor(5);let i=index">
                    <th scope="col"> {{i+1}} </th>
                    <td>عيد ميلاد</td>
                    <td> Birthday</td>
                    <td>
                      <!-- <i style="cursor: pointer;" class="fas fa-check text-success" (click)="activeProduct(product.id)"></i> | -->
                      <i style="cursor: pointer;" class="fas fa-trash text-danger" (click)="deleteColor(color.id)"></i> 
                      <!-- |
                      <i class="fas fa-eye text-success" style="cursor: pointer;" (click)="productDetails(product)"></i> -->
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    </div>
  </section>