<div class="col-md-12 project-list p-0">
    <div class="col-md-12 project-list p-0">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
              <li class="nav-item">
                <a (click)="getOrders('1')" [ngClass]="{'active': type == 1}" class="nav-link" href="javascript:void(0)" role="tab">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
                  <circle cx="12" cy="12" r="10"></circle>
                  <circle cx="12" cy="12" r="6"></circle>
                  <circle cx="12" cy="12" r="2"></circle>
                </svg>
                مفعلين</a>
              </li>
              <li class="nav-item">
                <a (click)="getOrders('0')" [ngClass]="{'active': type == 2}" class="nav-link" href="javascript:void(0)" role="tab">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target">
                  <circle cx="12" cy="12" r="10"></circle>
                  <circle cx="12" cy="12" r="6"></circle>
                  <circle cx="12" cy="12" r="2"></circle>
                </svg>
               غير مفعلين</a>
              </li>
     
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section id="add-main-page"  *ngIf="delivery?.length != 0">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">اسم العميل</th>
                            <th scope="col"> الايميل</th>
                            <th scope="col"> رقم الهاتف</th>
                            <th scope="col">  الصورة</th>

                            <!-- <th scope="col"> تاريخ الطلب</th> -->
                            <th scope="col">إعدادات</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of delivery;let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{user?.name}}</td>
                            <td>{{user?.email}}</td>
                            <td>{{user?.phone}}</td>
                            <td> <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{user.imagePath}}" onerror="this.src='assets/images/image-not-found.svg'"  alt=""></td>

                         
                          
                            <td>
                              <i class="fas fa-eye text-success" style="cursor: pointer;" (click)="userDetails(user)"></i> |
                              <span *ngIf="type == 0">

                                <i  style="cursor: pointer;" class="fas fa-user-check text-success" (click)="activeFamily(user?.id)"></i> 
                              </span>
                              <span *ngIf="type == 1">

                                <i  style="cursor: pointer;" class="fas fa-user-slash text-danger" (click)="blockFamily(user?.id)"></i>
                              </span>
                              <!-- <span >

                                | <i  style="cursor: pointer;" class="fas fa-user-times text-warning" (click)="refuseFamily(user?.id)"></i> 
                              </span> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>




  <section id="add-main-page" *ngIf="delivery?.length == 0">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body text-center">
                  <h1 *ngIf="type==1">لا يوجد مسئولين توصيل مفعلين</h1>
                  <h1 *ngIf="type==0">لا يوجد مسئولين توصيل غير مفعلين</h1>

                </div>
              </div>
          </div>
      </div>
  </section> 