li {
    background-color:#f8f8f8;
    padding:10px;
    // padding:10px 5px 55px 5px;
    margin-bottom:10px ;
    border-radius: 5px;

    span{
        margin-bottom:10px;
        &:nth-of-type(1) {
            font-size: 15px;
            float:right ; 
            background-color: #f4f3fc;
            padding:10px;
            border-radius: 5px;
            color:#4831d4;
        }
        svg {
            margin-bottom: -5px;
            color:#4831d4;
        }
    }
   

    a {
        color:black;
        padding-top: 12px;
        font-size: bold;
        &:hover {
            color:rgb(232, 59, 154);
            padding-top: 14px;
        }
    }
}