<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="">اسم البند بالعربي </label>
                            <input type="text" class="form-control" formControlName="name_ar">
                        </div>
                        <div class="form-group">
                            <label for="">اسم البند بالإنجليزي</label>
                            <input type="text" class="form-control" formControlName="name_en">
                        </div>
                        <div class="form-group">
                            <label for="">   سعر البرند  </label>
                            <input type="text" class="form-control" formControlName="price">

                        </div>
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="submit">إضافة البند</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>