<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form">
                        <!-- <div class="form-group ">
                            <label for="">نوع البراند  </label>
                            <select class="form-control p-1" id="brand-type" formControlName="affect_brand" (change)="onChangeBrand($event.target.value)" >
                                <option value="0"> كل البراندات</option>
                                <option value="1"> براندات محددة </option>
                            </select>
                         </div> -->
                        <!-- <div class="form-group col-12 p-2 " *ngIf="showTypes" style="margin:15px 0px "> -->
                            <!-- <label for="">البراند</label>
                            <select class="form-control" [formControlName]="'brands'" >
                                <option [value]="brandType" multiple  id="opt" disabled style="background-color:rgb(227, 223, 223)">{{brandType}} </option>
                                <option *ngFor="let brand of dropdownList" value="{{brand.id}}">{{brand.name_ar}}</option>
                            </select>
                             -->
                           
                            <!-- <mat-form-field>
                             
                                <mat-label> البراندات</mat-label> <br> 
                                <mat-select  multiple (selectionChange)="onChangeSpecialist($event)">
                                  <mat-option *ngFor="let brand of dropdownList" [value]="brand">
                                    {{brand.name_ar}}
                                  </mat-option>
                                </mat-select>
                             </mat-form-field> -->


                            <!-- <mat-form-field>
                                <mat-label>Select Website</mat-label><br>  
                                <mat-select [(ngModel)]="brands" multiple>
                                  <mat-option *ngFor="let brand of dropdownList" [value]="brand.id">
                                    
                                    hello 
                                  </mat-option>
                                </mat-select>
                              </mat-form-field> -->

                              
                            <!-- <ng-multiselect-dropdown #multiSelect [settings]="dropdownSettings" [data]="dropdownList"
                            formControlName="brands"
                               (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>   -->
                           
                         <!-- </div> -->
                        <div class="form-group">
                            <label for="">اسم القسم الرئيسي</label>
                            <input type="text" class="form-control" formControlName="name">
                            <div *ngIf="submitted && f.name.errors" class="errors-container mt-2">
                                <p class="error-element" *ngIf="f.name.errors.required">يجب ألا يكون الحقل المطلوب فارغاً</p>
                             </div>
                        </div>
                        
                     
                        
                        <div class="form-group">
                            <label for=""> صورة القسم الرئيسي </label>
                            <ng-container *ngIf="image_edit">
                                <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif" [multiple]="true" >
                                    <ngx-dropzone-label> أضغط هنا لإختيار صورة القسم الرئيسي</ngx-dropzone-label>
                                    <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f" >
                                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </ng-container>
                            <div class="text-center" *ngIf="!image_edit">
                                <div style="position: relative;">
                                    <i style="cursor: pointer;    cursor: pointer;position: absolute;top: 3px;" class="fas fa-edit text-primary" (click)="image_edit=!image_edit"></i> 
                                    <img style="width: 150px;height: 150px;" src="{{data.imagePath}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="button" (click)="submit()" [disabled]="form.invalid ">تعديل القسم الرئيسي</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>