<h3 class="text-center">بيانات مقدم الخدمة </h3> 
 <br>
<table class="table" dir="rtl">
    <tbody>
      
      <tr>
        <th scope="row">اسم مقدم الخدمة </th>
        <td>{{data?.name}}</td>
      </tr>
      <tr>
        <th scope="row">الإيميل  </th>
        <td>{{data?.email}}</td>
      </tr>
      <tr>
        <th scope="row">الجوال  </th>
        <td>{{data?.phone}} </td>
      </tr>
<!-- 
      <tr>
        <th scope="row">رقم الحساب البنكي  </th>
        <td>{{data?.iban}} </td>
      </tr>
      <tr>
        <th scope="row">رقم السجل  </th>
        <td>{{data?.commercial_number}} </td>
      </tr> -->
      <!-- <tr>
        <th scope="row">صورة السجل</th>
        <td>
            <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{data?.images[0]}}" onerror=" src='assets/images/image-not-found.svg'" alt="">
        </td>
      </tr>
      <tr>
        <th scope="row">اسم البنك  </th>
        <td> {{data?.bank_name}} </td>
      </tr>
      <tr>
        <th scope="row">اسم المتجر   </th>
        <td>{{data?.user?.name}} </td>
      </tr>
      <tr>
        <th scope="row">تكلفة التوصيل    </th>
        <td>{{data?.delivery_fee}} ريال </td>
      </tr>
    <tr>
        <th scope="row">الحالة المالية     </th>
        <td> ؟؟ </td>
      </tr>  -->
      <tr>
        <th scope="row">رقم البطاقة الشخصية  </th>
        <td>569848956 </td>
      </tr>
      <tr>
        <th scope="row">صورة البطاقة</th>
        <td>
            <img style="width: 50px;height: 50px;border-radius: 50%;" src="assets/images/image-not-found.svg" alt="">
        </td>
      </tr>
      
      <tr>
        <th scope="row">التخصص  </th>
        <td>اي تخصص </td>
      </tr>
      <tr>
        <th scope="row">نبذة  </th>
        <td>تيسابت استا بتا تنسيا  </td>
      </tr>
      <tr>
        <th scope="row">صورة الرتوفوليو  </th>
        <td>
            <img style="width: 50px;height: 50px;border-radius: 50%;" src="assets/images/image-not-found.svg" alt="">
        </td>
      </tr> 
    </tbody>
  </table>