<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form">
                       
                        <div class="form-group">
                            <label for="">اسم القسم الفرعي </label>
                            <input type="text" class="form-control" formControlName="name">
                            <div *ngIf="submitted && f.name.errors" class="errors-container mt-2">
                                <p class="error-element" *ngIf="f.name.errors.required">يجب ألا يكون الحقل المطلوب فارغاً</p>
                             </div>
                        </div>
                        
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="button" (click)="submit()" [disabled]="form.invalid">تعديل القسم الفرعي </button> 
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>